@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');


/*Globales*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}

/*Header*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
   
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;

}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: cornflowerblue;
}

/*Hero*/
.hero {
    width: 100%;
    height: 70vh;
    background: url("../images/background-2.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
    margin: 3rem;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
    font-weight: 600;
}

.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .3rem;
}

.circle {
    font-size: 1.5rem;
    color: darkblue;
    margin: 1.9rem;
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    margin: 2rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
}

.cta-btn {
    font-size: 1.1rem;
    background-color: darkblue;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: cornflowerblue;
}


.global {
    text-align: center;
    margin-top: 3.9rem;
}

.section .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: cornflowerblue;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .2rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
}

.info {
    display: table;
    clear: both;
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    margin-bottom: 2.4rem
}


/*problemas*/

.fondo {
    background: linear-gradient(to bottom, rgba(46, 49, 58, 0.8), rgba(32, 42, 68, 0.9)), url("../images/background.jpg") center no-repeat;
    background-size: cover;
}
.fond2 {
    background: linear-gradient(to bottom, rgba(46, 49, 58, 0.8), rgba(32, 42, 68, 0.9)), url("../images/background3.jpg") center no-repeat;
    background-size: cover;
}
.fond3 {
    background: linear-gradient(to bottom, rgba(46, 49, 58, 0.8), rgba(32, 42, 68, 0.9)), url("../images/background4.jpg") center no-repeat;
    background-size: cover;
}
.bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
}

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

@media screen and (min-width: 900px) {
section {
    padding: 7.9rem;
}

.menu-toggle {
    display: none;
}

.nav {
    justify-content: space-between;
}

.nav-list
{
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
}

.nav-item {
    margin: 0 2.4rem;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-size: 1.3rem;
}

.active {
    position: relative;
}

.active::before 
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
}

.head {
    font-size: 4.1rem;
    letter-spacing: .4rem;
}

.info {
    display: flex;
    align-items: center;
}

.info > div {
    flex: 1;
}

.texto {
    padding-right: 7rem;
}

.footer-content {
    max-width: 77.5rem;
    margin: auto;
}

.footer-content-about {
    max-width: 51.3rem;
    margin:  0 auto 5.4rem;
}

.footer-div{
    display: flex;
    justify-content: space-between;
}

.social-media,
.news-form 
{
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
}

.news-btn {
   margin-left: 7.5rem;
}
    
}
.caja {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.caja.visible {
  opacity: 1;
  display: block;
}

.box {
    align-items: center;
    margin: 1%;
    background-color: #f0f8ff;
    padding: 5rem;
    border: 3px solid cornflowerblue;
    box-sizing: border-box;
    border-radius: 1rem;
}
.caja-fast {
    float: left;
    width: 48%;
    margin: 1%;
    background-color: #f0f8ff;
    padding: 5rem;
    border: 3px solid cornflowerblue;
    box-sizing: border-box;
    border-radius: 1rem;
}